table {
    margin: auto;
}
:root {
    --width: 1vh;
    --height: 1vh;
}
td {
    border: solid black;
    height: var(--height);
    width: var(--width);
}

td:hover {
    background: #aaaaaa;
}

#header {
    margin: auto;
    width: fit-content;
}

.cell {
    font-size:100px;
}