table {
    margin: auto;
}
:root {
    --width: 1vh;
    --height: 1vh;
}
td {
    border: solid black;
    height: var(--height);
    width: var(--width);
    background-repeat: no-repeat;
    background-size: contain;
}

td:hover {
    background: #aaaaaa;
    background-repeat: no-repeat;
    background-size: contain;
}

#header {
    margin: auto;
    width: fit-content;
}

.cell {
    font-size:5vw;
}

td.clicked[owner='0'] {
    border: #ff0000 solid;
}

td.clicked[owner='1'] {
    border: #0000ff solid;
}

td[value='1'][owner='0'] {
    background-image: url('b1.svg');
}
td[value='2'][owner='0'] {
    background-image: url('b2.svg');
}
td[value='3'][owner='0'] {
    background-image: url('b3.svg');
}
td[value='4'][owner='0'] {
    background-image: url('b4.svg');
}
td[value='5'][owner='0'] {
    background-image: url('b5.svg');
}
td[value='1'][owner='1'] {
    background-image: url('c1.svg');
}
td[value='2'][owner='1'] {
    background-image: url('c2.svg');
}
td[value='3'][owner='1'] {
    background-image: url('c3.svg');
}
td[value='4'][owner='1'] {
    background-image: url('c4.svg');
}
td[value='5'][owner='1'] {
    background-image: url('c5.svg');
}